.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  z-index: 1000;
  width: 1430px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  padding: 30px;
}

.form-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.main-links {
  display: flex;
}

.link {
  color: #4b5563;
  transition: color 0.2s ease;
}

.link:hover {
  color: #111827;
}

.signup {
  background-color: #10b981;
  color: #fff;
  padding: 9px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  margin-right: 152px;
}

.signup:hover {
  background-color: #059669;
}

body {
  margin: 0;
}

.empty {
  display: flex;
}

.food1,
.food2,
.food3,
.food4,
.food5 {
  background-color: rgb(222, 222, 222);
  height: 330px;
  width: 250px;
  border: 5px black;
  border-radius: 10px;
}

.line {
  height: 380px;
  width: 1065px;
  display: flex;
  align-items: center;
  background: #10b981;
  margin-left: 10px;
  margin-top: 30px;
  gap: 10px;
  border-radius: 5px;
}

.food1 {
  margin-left: 15px;
}

.food5 {
  margin-right: 20px;
}

.variants {
  height: 125px;
  width: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

p {
  margin-right: 150px;
}

button:hover {
  background-color: #727478;
}

.variant {
  border-color: black;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
  display: flex;
}

.buy {
  background: #27ae60;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 190px;
  margin-left: 5px;
  height: 45px;
}

.text {
  margin-left: 5px;
}

.buy:hover {
  background: #219150;
}

.cupyty {
  margin: 0;
}