.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  padding: 30px;
  color: #fff;
}

.nav-links a:hover {
  color: #acacac;
}

.form-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.main-links {
  display: flex;
}

.link {
  transition: color 0.2s ease;
}

.signup {
  background-color: #10b981;
  color: #fff;
  padding: 9px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.signup:hover {
  background-color: #059669;
}

#Theme{
  margin-right: 20px;
}

:root{
  background-color: #fff;
  -webkit-text-fill-color: #000;
}
body.dark-theme{
  background-color: #1a1a1a;
  -webkit-text-fill-color: #f0f0f0;
}

body {
  margin: 0;
  background-color: div(background-color);
  color: div(-webkit-text-fill-color);
}

.empty {
  display: flex;
}

.food1,
.food2,
.food3,
.food4,
.food5 {
  background-color: rgb(222, 222, 222);
  height: 350px;
  width: 250px;
  border: 5px black;
  border-radius: 10px;
}

.line {
  height: 400px;
  width: 1065px;
  display: flex;
  align-items: center;
  background: #10b981;
  margin-top: 30px;
  gap: 10px;
  border-radius: 5px;
}

.food1 {
  margin-left: 18px;
}

.food5 {
  margin-right: 20px;
}

.variants {
  height: 125px;
  width: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

button:hover {
  background-color: #727478;
}

.variant {
  border-color: black;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

img {
  width: 100%;
  height: 220px;
  display: flex;
  border-radius: 5px;
}

.buy {
  background: #27ae60;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 190px;
  margin-left: 5px;
  height: 45px;
}

.text {
  margin-left: 5px;
}

.buy:hover {
  background: #219150;
}

.cupyty {
  margin: 0;
}

p {
  margin-right: 110px;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 50px 20px 20px;
  margin-top: 200px;
}

.footer-content {
  margin-bottom: 40px;
}

.footer-nav ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  color: #fff;
  opacity: 0.8;
  font-size: 0.95em;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer-nav a:hover {
  opacity: 1;
  color: #007bff;
}