body {
    margin: 0;
    padding: 0;
}

.MainEndDiv {
    background-color: rgb(255, 233, 176);
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 0;
    overflow: hidden;
}

.textblock {
    position: absolute;
    width: 420px;
    height: 80px;
    background-color: orange;
    color: white;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    left: calc(50vw - 210px);
    z-index: 2;
    transform: translateY(-80px);
}





#toggle {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
  padding: 10px 16px;
}

.scene {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #f5f5f5;
}

.pencil {
  width: 60px;
  height: 60px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.newtrans{
    transition: 2s;
    transform: translateY(150px);
}