body{
    margin: 0;
}
.top{
    width: 100vw;
    height: 5vw;
    background-color: rgb(127, 255, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 5%;
    height: 80%;
    background-color: rgb(148.8, 200.1, 198.8);
    border-radius: 1vw;
}
.main{
    width: 80vw;
    height: 45vw;
    background-color: rgb(200, 200, 200);
    margin: auto;
    margin-top: 2.5vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column; /* ? */
}
.nazvanie{
    width: 95%;
    height: 25%;
    background-color: rgb(100, 200, 200);
    margin: auto;
    margin-top: 2.5%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otveti{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
}
.umnichka{
    width: 40%;
    height: 20%;
    background-color: rgb(100, 200, 100);
    margin: auto;
    margin-top: 2.5%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center
}
.tupoe{
    width: 40%;
    height: 20%;
    background-color: rgb(200, 100, 100);
    margin: auto;
    margin-top: 2.5%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center
}

























/* 
tupoe banan
psina banan
srednestaticheskiy banan
speliy banan
umnoe banan
enshtein banan
bog banan
*/