body{
    margin: 0;
}
.top{
    width: 100vw;
    height: 5vw;
    background-color: rgb(127, 255, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 5%;
    height: 80%;
    background-color: rgb(148.8, 200.1, 198.8);
    border-radius: 1vw;
}
.main{
    width: 80vw;
    height: 45vw;
    background-color: rgb(200, 200, 200);
    margin: auto;
    margin-top: 2.5vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* ? */
    font-family: Comic Sans MS, Comic Sans;
    font-size: larger;
}
.nazvanie{
    width: 95%;
    height: 25%;
    background-color: rgb(100, 200, 200);
    /* margin: auto; */
    margin-top: 2.5%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otveti{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: baseline;
}
.umnichka{
    width: 45%;
    height: 100%;
    background-color: rgb(100, 200, 100);
    margin: auto;
    margin-top: 2.5%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tupoe{
    width: 45%;
    height: 100%;
    background-color: rgb(200, 100, 100);
    margin: auto;
    margin-top: 2.5%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.procenttuposti{
    width: 95%;
    height: 10%;
    background-color: rgb(255, 0, 0);
    margin-top: 5%;
    border-radius: 1vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.procentumnicka{
    width: 25%;
    height: 100%;
    background-color: rgb(0, 255, 0);
    border-radius: 1vw;
}
.time{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: baseline;
    margin: auto;
    margin-top: 2.5%;
}
.obshchee{
    width: 45%;
    height: 100%;
    background-color: rgb(240, 230, 140);;
    margin: auto;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vopros{
    width: 45%;
    height: 100%;
    background-color: rgb(240, 230, 140);
    margin: auto;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    width: 95%;
    height: 10%;
    background-color: rgb(255, 150, 0);
    margin: auto;
    margin-top: 2.5%;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
























/* 
tupoe banan
psina banan
srednestaticheskiy banan
speliy banan
umnoe banan
enshtein banan
bog banan
*/