body{
    margin: 0;
}
.top{
    width: 100vw;
    height: 100px;
    background-color: rgb(127, 255, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 80px;
    height: 80px;
    background-color: rgb(148.8, 200.1, 198.8);
}
.main{
    width: 80vw;
    height: 750px;
    background-color: rgb(200, 200, 200);
    margin: auto;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center
}