body{
    margin: none;
    background-color: #f5f8fa;
    font-family: Roboto, sans-serif;
}
.main{
    width: 1140px;
    height: 1520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5f8fa;
    margin-top: 200px;
}
.test2,.test1,.test3,.test4{
    width: 60%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
}
p{
   margin-right: 600px; 
   width: 100px;
}
.name:hover{
    cursor: pointer;
    color: rgb(160, 160, 1);
}
a{
    text-decoration: none;
}
.author:hover{
    cursor: pointer;
    text-decoration: underline;
}
.name{
    color: grey;
    font-size: large;
    font-weight: bold;
    width: 100px;
}
.priclad{
    color: rgb(163, 163, 163);
    font-weight: bold;
    width: 100px;
}
