body{
    margin: 0;
    background-color: #f5f8fa;
    font-family: Roboto, sans-serif;
}
.main{
    max-width: 1140px;
    width: 100%;
    margin: 200px auto;
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5f8fa;
}
.test2,.test1,.test3,.test4{
    width: 60%;
    height: 175px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 5px;
}
p{
   margin-left: 20px; 
   margin-top: 5px;
   margin-bottom: 5px;
   line-height: 1;
}
.name:hover{
    cursor: pointer;
    color: rgb(160, 160, 1);
}
a{
    text-decoration: none;
}
.author:hover{
    cursor: pointer;
    text-decoration: underline;
}
.name{
    color: grey;
    font-size: large;
    font-weight: bold;
}
.priclad{
    color: rgb(163, 163, 163);
    font-weight: bold;
}
.text{
    flex: 1;
}
button{
    height: 35px;
    background-color: rgb(41, 161, 145);
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: rgb(50, 143, 146);
}
button:hover{
    background-color: #008f47;
}
