body{
    margin: none;
}
.main{
    width: 1265px;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
}
.test2,.test1,.test3,.test4{
    width: 60%;
    height: 250px;
    background-color: beige;
    text-align: center;
}
p{
   margin-right: 600px; 
}